<h1>Items Detail</h1>
<table>
    
    <tr>
        <td><b>Name :</b></td>
        <td><%= @item.name %></td>
    </tr>
    <tr>
        <td><b>Price :</b></td>
        <td><%= @item.price %></td>
    </tr>
</table>
